<h1>ミンパッカーに掲載する３つのメリット</h1>
<h2>1. 魅力を広告アピール</h2>
<p>Find me in app/views/entry/index.html.erb</p>
<h2>2. 直接チャットで集客</h2>
<p>Find me in app/views/entry/index.html.erb</p>
<h2>3. 掲載料・仲介手数料が無料！</h2>
<p>Find me in app/views/entry/index.html.erb</p>

<h1>掲載する３つの手順</h1>
<h2>1. 基本情報の入力</h2>
<p>Find me in app/views/entry/index.html.erb</p>
<h2>2. 料金情報の入力</h2>
<p>Find me in app/views/entry/index.html.erb</p>
<h2>3. イメージ画像を登録</h2>
<p>Find me in app/views/entry/index.html.erb</p>

<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <a href="/hotels/new">
    <button type='button' class='btn btn-danger' style="margin:5px">
      掲載はこちら
    </button>
    </a>
  </div>
</div>




