<div class="col-sm-3 col-md-3">
    <a href="/">
        <aside id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="1" class=""></li>
                <li data-target="#my-carousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="https://static.stayjapan.com/room/ed6/42c/3a1/173402_mini.jpg?1529615302">
                </div>
                <div class="item">
                    <img alt="Second slide" src="https://static.stayjapan.com/room/ed6/42c/3a1/173402_mini.jpg?1529615368">
                </div>
                <div class="item">
                    <img alt="Third slide" src="https://static.stayjapan.com/room/ed6/42c/3a1/173404_mini.jpg?1529615398">
                </div>
            </div>
        </aside>
    </a>
    <div style="padding:5px">
        1234567890 1234567890 1234567890
    </div>
</div>