<script>
    $(document).ready(function () {
        $(".select2").select2()
        $(".select2-selection__rendered").css({"font-size":"120%"});
        $(".select2").css({"width":"50%"})

        $('.modal').modal('show');
    })
</script>

<%= search_form_for(@q, url:hotels_path) do |f| %>
    <div style="background-color: #F8F8F8;">
        <div class="row" style="text-align: center;margin:10px">
            <h2>民泊施設</h2>
            <div class="col-md-12">
                <%= f.collection_select(:id_eq, Hotel.all, :id, :name1, {}, {id:'_hotel', class: 'select2'}) %>
            </div>
        </div>
        <div class="row" style="text-align: center;margin:10px">
            <div class="col-md-12">
                <input class="btn btn-primary" style="width:50%;font-size:20px;margin:10px" type="submit" name="commit" value="検索" data-disable-with="検索">
            </div>
        </div>
    </div>
<% end %>

<div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <%= render "layouts/ad_google" %>
                  </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
