<h2>人気の都道府県</h2>
<div class="row">
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=13">
<!-- ransak defalut
--->
            <div class="image_outer lazy" data-original="/assets/tokyo.jpg">
<!-- lazy
            <div class="image_outer" style="background-image: url('/assets/oosaka.jpg');">

 -->                <p class="image_inner">
                   東京都
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=27">
            <div class="image_outer lazy" data-original="/assets/oosaka.jpg">
                <p class="image_inner">
                   大阪府
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=40">
            <div class="image_outer lazy" data-original="/assets/hukuoka.jpg">
                <p class="image_inner">
                   福岡県
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=47">
            <div class="image_outer lazy" data-original="/assets/okinawa.jpg">
                <p class="image_inner">
                   沖縄県
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=1">
            <div class="image_outer lazy" data-original="/assets/hokkaidou.jpg">
                <p class="image_inner">
                   北海道
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=26">
            <div class="image_outer lazy" data-original="/assets/kyoto.jpg">
                <p class="image_inner">
                   京都府<br>京都市
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=14">
            <div class="image_outer lazy" data-original="/assets/yokohama.jpg">
                <p class="image_inner">
                   神奈川県<br>横浜市
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels?q%5Bprefecture_id_eq%5D=23">
            <div class="image_outer lazy" data-original="/assets/nagoya.jpg">
                <p class="image_inner">
                   愛知県<br>名古屋市
                </p>
            </div>
        </a>
     </div>
</div>

