<h2>東京23区</h2>
<div class="row">
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
<!-- ransak defalut
        <a href="/hotels?utf8=%E2%9C%93&q%5Bcity_id_eq%5D=677&commit=%E6%A4%9C%E7%B4%A2">

 -->        <a href="/hotels?q%5Bcity_id_eq%5D=676">
<!-- lazy
            <div class="image_outer" style="background-image: url('/assets/tokyo_tiyodaku.jpg');">
 -->
            <div class="image_outer lazy" data-original="/assets/tokyo_tiyodaku.jpg">
                <p class="image_inner">
                   千代田区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=677">
            <div class="image_outer lazy" data-original="/assets/tokyo_tyuouku.jpg">
                <p class="image_inner">
                   中央区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=678">
            <div class="image_outer lazy" data-original="/assets/tokyo_minatoku.jpg">
                <p class="image_inner">
                   港区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=679">
            <div class="image_outer lazy" data-original="/assets/tokyo_sinzyukuku.jpg">
                <p class="image_inner">
                   新宿区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=680">
            <div class="image_outer lazy" data-original="/assets/tokyo_bunkyoku.jpg">
                <p class="image_inner">
                   文京区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=681">
            <div class="image_outer lazy" data-original="/assets/tokyo_taitoku.jpg">
                <p class="image_inner">
                   台東区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=682">
            <div class="image_outer lazy" data-original="/assets/tokyo_sumidaku.jpg">
                <p class="image_inner">
                   墨田区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=683">
            <div class="image_outer lazy" data-original="/assets/tokyo_kotoku.jpg">
                <p class="image_inner">
                   江東区
                </p>
            </div>
        </a>
     </div>

     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=684">
            <div class="image_outer lazy" data-original="/assets/tokyo_sinagawaku.jpg">
                <p class="image_inner">
                   品川区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=686">
            <div class="image_outer lazy" data-original="/assets/tokyo_ootaku.jpg">
                <p class="image_inner">
                   大田区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=687">
            <div class="image_outer lazy" data-original="/assets/tokyo_setagayaku.jpg">
                <p class="image_inner">
                   世田谷区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=688">
            <div class="image_outer lazy" data-original="/assets/tokyo_sibuyaku.jpg">
                <p class="image_inner">
                   渋谷区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=689">
            <div class="image_outer lazy" data-original="/assets/tokyo_nakanoku.jpg">
                <p class="image_inner">
                   中野区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=691">
            <div class="image_outer lazy" data-original="/assets/tokyo_tosimaku.jpg">
                <p class="image_inner">
                   豊島区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=692">
            <div class="image_outer lazy" data-original="/assets/tokyo_kitaku.jpg">
                <p class="image_inner">
                   北区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=694">
            <div class="image_outer lazy" data-original="/assets/tokyo_itabasiku.jpg">
                <p class="image_inner">
                   板橋区
                </p>
            </div>
        </a>
     </div>

     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=696">
            <div class="image_outer lazy" data-original="/assets/tokyo_adatiku.jpg">
                <p class="image_inner">
                   足立区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=697">
            <div class="image_outer lazy" data-original="/assets/tokyo_katusikaku.jpg">
                <p class="image_inner">
                   葛飾区
                </p>
            </div>
        </a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="/hotels&q%5Bcity_id_eq%5D=698">
            <div class="image_outer lazy" data-original="/assets/tokyo_edogawaku.jpg">
                <p class="image_inner">
                   江戸川区
                </p>
            </div>
        </a>
     </div>

</div>

